<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hex blog</title>
  </head>
  <body>
    <header>
      <h1>Hex Blog</h1>
    </header>
    <main>
      <h2>{{ title }}</h2>
      {% block content %}{% endblock %}
    </main>
    <footer>
      <p>
        <small>Copyright 2024</small>
      </p>
    </footer>
  </body>
</html>