<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/assets/styles/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="/assets/styles/layout.css"> -->
    <title>Little Tiny Tools</title>
    <meta name="google-adsense-account" content="ca-pub-9239838040277193">
    <meta name="description" content="Little Tiny Tools is a collection of free online tools that help you solve everyday problems.">
    <meta name="keywords" content="Little Tiny Tools, online tools, free tools, web tools, utilities, calculators, converters, generators">
    <meta name="author" content="Little Tiny Tools">
    
    <link rel="icon" href="/assets/imgs/favicon-dark-theme.svg" type="image/svg+xml" media="(prefers-color-scheme: dark)">
    <link rel="icon" href="/assets/imgs/favicon-light-theme.svg" type="image/svg+xml" media="(prefers-color-scheme: light)">
    

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
    </style>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9239838040277193"
    crossorigin="anonymous"></script>
  </head>
  
  <body data-bs-theme="dark">

    <script src="https://alwingulla.com/88/tag.min.js" data-zone="121816" async data-cfasync="false"></script>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J0QX0DVBPC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-J0QX0DVBPC');
    </script>

    <main class="container mt-4">
      <!-- <h2 class="mb-4">{{ title }}</h2> -->
      <div class="content">
        {% block content %}{{ content | safe }}{% endblock %}
      </div>
    </main>

    
  </body>
</html>