<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Little Tiny Tools</title>
    <!-- Bootstrap CSS -->
    {% if layoutType != '404' %}
      <link rel="stylesheet" href="/assets/styles/bootstrap.min.css">
      <link rel="stylesheet" href="/assets/styles/layout.css">
    {% endif %}

    
    {% if metaDescription %}
      <meta name="description" content="{{ metaDescription }}">
      {% else %}
      <meta name="description" content="Little Tiny Tools is a collection of free online tools that help you solve everyday problems.">
    {% endif %}

    {% if metaKeywords %}
      <meta name="keywords" content="metaKeywords">
      {% else %}
      <meta name="keywords" content="Little Tiny Tools, online tools, free tools, web tools, utilities, calculators, converters, generators">
    {% endif %}


    <meta name="author" content="Little Tiny Tools">

    <link rel="icon" href="/assets/imgs/favicon-dark-theme.svg" type="image/svg+xml" media="(prefers-color-scheme: dark)">
    <link rel="icon" href="/assets/imgs/favicon-light-theme.svg" type="image/svg+xml" media="(prefers-color-scheme: light)">

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
    </style>



    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9239838040277193"
    crossorigin="anonymous"></script>
    <meta name="google-adsense-account" content="ca-pub-9239838040277193">
  </head>
  <body data-bs-theme="dark">

    <!-- <script src="https://alwingulla.com/88/tag.min.js" data-zone="121816" async data-cfasync="false"></script> -->

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J0QX0DVBPC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-J0QX0DVBPC');
    </script>
    <header class="111">
      <div class="navbar navbar-expand-lg container justify-content-between">
        <div class="" id="logo-container">
          <a class="navbar-brand" href="/">
            <span class="navbar-brand mb-0">Little Tiny Tools<span>
          </a>
          <span>A Cool Tool For Every Fool</span>

        </div>
        <div class="chart-container">
          <svg width="100%" height="100%">
            <path class="line"></path>
          </svg>
          <div class="axis"></div>
          <div class="price-label">$0.00</div>
        </div>
      </div>
    </header>
    <main class="container mt-4">
      <h2 class="mb-4">{{ title }}</h2>
      <div class="content">
        {% block content %}{{ content | safe }}{% endblock %}
      </div>
    </main>
    {% if layoutType != '404' %}
      {% if layoutType == 'list' %}
        <!-- let's add the pagination next and prev buttons -->
        <nav aria-label="Page navigation" class="container mt-4">
          <ul>
            {% if pagination.href.previous %}
              <li>
                <a href="{{ pagination.href.previous }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo; Prev</span>
                </a>
              </li>
            {% endif %}
            
            {% if pagination.href.next %}
              <li>
                <a href="{{ pagination.href.next }}" aria-label="Next">
                  <span aria-hidden="true">Next &raquo;</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}

      
      {% if layoutType != 'list' and layoutType != '404' %}
        <section id="categories">
          <h5>Categories:</h5>
          {% for tag in tags %}
            <a href="/tag/{{ tag }}/">{{ tag }}</a>, 
          {% endfor %}
        </section>
        <section id="related-tools-section">
          <h5>Related tools:</h5>          
          {% set selectedPosts = [] %}
          {% set maxLinks = 50 %}
          {% for i in range(0, 50) -%} {# Use a large number to ensure enough iterations #}
              {% if selectedPosts | length >= maxLinks %}
                  {% set i = maxLinks %} {# Exit the loop by exhausting iterations #}
              {% endif %}
              {% set randomTag = tags | random %}
              {% set posts = collections[randomTag] %}
              {% set randomPost = posts | random %}
              {% if randomPost.url not in selectedPosts %}
                  {% set selectedPosts = selectedPosts + [randomPost.url] %}
                  <a class='related-tool' href="{{ randomPost.url }}">{{ randomPost.data.title }}</a>
              {% endif %}
          {%- endfor %}
        </section>
      {% endif %}

      <footer class="py-3">
        <div class="container">
          <p class="text-center">

            <small>&copy; <span id="year"></span> Little Tiny Tools</small>
          </p>
        </div>
      </footer>
      
      <!-- Bootstrap JS -->
      <script src="/assets/scripts/bootstrap.min.js"></script>
      <script src="/assets/scripts/main.js"></script>
    {% endif %}
  </body>
</html>